/*body {
	background-image: url('../img/grimReaper.jpg'); 
	background-repeat: inherit;
	font-family: 'Architects Daughter', cursive;
}
h1 {
	text-align: center;
	color: red;
}
.btn-primary {
	background-color: green;
	margin-left: 540px;
	margin-top: 5px;
	color: red;
	padding-left: 40px;
	padding-right: 50px;
	
}
.form-name {
	margin: auto;
	width: 250px;
}
h2 {
	margin-left: 200px;
	text-align: center;
	color: red;
}
h3 {
	margin: auto;
	text-align: center;
	color: red;	
}
.hiScores {
	color: red;	
	margin-left: 500px;
	font-size: 18pt;
}
p {
	color:red;
}
*/