#loading {
	display: none;
	img {
		display: block;
		margin: auto;
	}
	h1 {
		font-size: 3em;
		font-family: Starjedi;
		letter-spacing: 2px;
		color: $primary-text-color;
		text-align: center;
		margin-top: 20px;
	}
}